//Background Colors
//gradiante:: 
$white: rgb(255, 255, 255);
$light-gray-windowI:rgb(243, 244, 246); //pestañas inactivas
$light-gray-buttonP:rgb(229, 231, 235);

//Text Colors 
$black:rgb(31, 41, 55);
$medium-grey: 