@import '../../color';

.iconContainer {

    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid $grey-border;
    background-color: $white;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    
    .iconStyles {
        color: $purple;
    }
    .iconDelete {
        color: $pink-deleteb;
    }

}